/* FONT IMPORT FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* how to use fonts in css styling:
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; */

/* RESET FORMATS */
* {
    font-family: 'Roboto Slab', serif;
}
ul>li>a, 
ul>li, 
div>li {
    text-decoration: none;
    list-style: none;
}
.menu, .searchbar {
    display: none;
}

.box {
    background-color: rgba(207, 206, 206, 0.329);
    border: 1px solid #ccc;
    height: 10em;
}

/* FONTS STYLES */
h2 {
    font-family: 'Roboto Mono', monospace;
}
h3 {
    font-family: 'Roboto Slab', serif;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.20em;
    font-size: .85rem;
}
/* MOBILE-FIRST STYLES */


/* tablet device */
                                   